body {
    font-family: arial, helvetica;
    background-color: floralwhite;
    color: #26201a;
    margin: 0 0;

}

h1 {
    color: #f3ca08;
}

h2
{
    color: #f3a608;
    font-size: 30px;

}

a:link {
  color: #fff; 
  
  border-botton: 1px dashed;
}
a:visited {
  color: #ccc; 
 
  
}



    header, footer {
        background-color: #996633;
        color: #f3a608;
        width: 100%;
        margin: 0;
        margin-bottom: 0;
        height: 100%; 

    }

.navigation {
    text-align: center;
    padding-top: 10px;
   
    word-spacing: 100px;
    font-size: 30px;
    
}

    footer
    {
    height: 100%;
    text-align: center;
    padding-top: 10px;
    }

    table
    {
    border-style: solid;
    border-color: #a4530d;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    }

.midle {
    
    width: 850px;
    margin: auto;
    background-color: #deb887;
    margin-left: auto;
    margin-right: auto;


 
   
}



        table th {
            border: 2px solid #a4530d;
            
        }

 table td 
 {
    border: 2px solid #a4530d;
 }

  .odd
  {
    background: #ffde81;
 }
.evv
    {
        background: #d3ff81;
    }





.logoo {

    float: left;
    width: 150px;
    height: 150px;
    margin: 0;
    margin-left: 325px;
    margin-right: 50px;
}

.logo {
  
    width: 100%;
    margin: 0px;
    max-width: 960px;
    padding-top: 10px;
    padding-bottom: 1px;
    
}

 .hh
{
    margin-left: 60px;
    padding-left: 60px;
}